@media (max-width: 35em) {
  header {
    .mobile_nav_toggle {
      position: absolute;
      background: url(/public/icons/icon-hamburger.svg);
      background-repeat: no-repeat;
      border: none;
      width: 2rem;
      right: 2rem;
      aspect-ratio: 1;
      z-index: 9999;
    }
  }

  .mobile_nav_toggle[aria-expanded='true'] {
    background: url(/public/icons/icon-close.svg);
    background-repeat: no-repeat;
  }

  .primary_navigation {
    position: fixed;
    z-index: 500;
    inset: 0 0 0 45%;
    background: $secondary-color;
    border-top-left-radius: 5em;

    padding: 10rem 2em;
    transform: translateX(100%);
    transition: 0.5s;

    li {
      padding-bottom: 1.5em;
      font-weight: 700;
      color: #fff;
    }
  }

  .primary_navigation[data-visible='true'] {
    transform: translateX(0);
    transition: 0.5s;
  }

  p {
    font-size: 0.85rem;
  }

  section.about {
    img {
      height: 350px;
      width: 350px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
      border-radius: 50%;
      background: linear-gradient(
        45deg,
        $primary-color,
        $secondary-color,
        $tertiary-color,
        $quarternary-color
      );
      padding: 0.5em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .about_toggle {
      .switch {
        overflow-y: hidden;
        position: relative;
        display: block;
        width: 100%;
        height: 55px;
        margin-bottom: 1em;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $tertiary-color;
        transition: 1s;
        border: 0.05rem solid $primary-color;
      }

      .slider::before {
        position: absolute;
        content: '';
        bottom: 0px;
        top: 10px;
        background-color: #ffffff;
        transition: 1s;
      }

      .switch input {
        display: none;
      }

      input:checked + .slider::before {
        transform: translateX(310px) rotateZ(45deg);
        background: $primary-color;
      }

      .slider.round {
        border-radius: 35px;
      }

      .slider.round::before {
        width: 10%;
        height: 40%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        transform: rotateZ(-45deg);
      }

      .switch .labels {
        position: absolute;
        top: 12px;
        left: 0px;
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        font-weight: bold;
        transition: all 0.4s ease-in-out;
      }

      .switch .labels::after {
        content: attr(data-off);
        position: absolute;
        right: 5px;
        color: $primary-color;
        opacity: 1;
        transition: all 0.4s ease-in-out;
        letter-spacing: 1px;
      }

      .switch .labels::before {
        content: attr(data-on);
        position: absolute;
        left: 5px;
        color: #ffffff;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        letter-spacing: 1px;
      }

      .switch input:checked ~ .labels::after {
        opacity: 0;
      }

      .switch input:checked ~ .labels::before {
        opacity: 1;
      }
    }
  }
}
