@import 'config';
@import 'mobile';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  height: 100vh;
  background-color: #303a52;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}

section {
  padding: 4em 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  margin-top: 0;
  padding-top: 0;
  color: #fff;
}

span.primary_color {
  color: $primary-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h2::before {
  content: '';
  display: block;
  background: $primary-color;
  width: 1.5em;
  height: 0.25em;
  border-radius: 0.2em;
}

.project_subtitle {
  color: $primary-color;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

// Navbar
header {
  margin: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h5 {
    color: $primary-color;
  }
}

// Hero
section.hero {
  margin-top: em;
  h4 {
    margin-bottom: 0.5em;
  }
  .name {
    margin-bottom: 0.5em;
  }
  .name::after {
    content: url(/public/icons/underline.svg);
  }
  .sub_headline {
    opacity: 0.8;
  }
  .hero_cartoon {
    margin: 0;
    padding: 0;
  }
  h4 span {
    opacity: 0;
    transition: all 0.5s ease;
  }
  h4 span.animated_headline {
    opacity: 1;
  }
  #thought-bubble {
    margin: 0;
    padding: 0;
    height: 250px;
    transform: translate3d(-50px, 70px, 0);
  }
  #skills-list {
    font-size: 2em;
    color: $primary-color;
    letter-spacing: 1px;
    transform: translate3d(70px, -460px, 0);
    span:before {
      content: '';
      animation: skills infinite 15s 0.5s;
    }
    @keyframes skills {
      0% {
        content: 'ReactJS';
      }
      20% {
        content: 'NextJS';
      }
      40% {
        content: 'MongoDB';
      }
      60% {
        content: 'JavaScript';
      }
      80% {
        content: 'Tailwind';
      }
      100% {
        content: 'NodeJS';
      }
    }
  }
}
// Projects
section.projects {
  background-color: $tertiary-color;

  div.projects_container {
    margin-top: 1.5em;
  }

  .project_1_container img,
  .project_2_container img,
  .project_3_container img {
    margin-top: 1.5em;
    border-radius: 1em;
  }

  .project_2,
  .project_3 {
    margin-top: 1em;
  }

  img.project_pic {
    border: 2px solid $tertiary-color;
    background: $tertiary-color;
    padding: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .project_img {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  .project_img span {
    position: absolute;
    top: 60%;
    left: 10%;
    background: none;
    border: none;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: 5;
    animation-timing-function: ease-in-out;
  }
  @keyframes pulse {
    0% {
      transform: scale(0.9);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
  }
}

// About
section.about {
  div.about_container {
    margin-top: 1.5em;
  }

  div.about_secondary {
    h4 {
      color: $primary-color;
    }

    ul li::before {
      content: '▹';
      color: #fff;
      font-size: 1.2em;
      padding-right: 1em;
    }

    .hobbies,
    .facts {
      margin-bottom: 0.5em;
      font-weight: bold;
    }

    .hobbies {
      color: $primary-color;
    }
    .facts {
      color: #ffffff;
    }
  }
  // End of about section
}

// Contact
section.contact {
  input,
  textarea {
    width: 100%;
    background: $inputbg-color;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 1.2em;
    transition: 0.3s;
    color: #fff;
  }

  input:focus,
  textarea:focus {
    box-shadow: 0 0 0.5em 0 #212839;
  }

  p.contact_phrase {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
  }
  .contact_paragraph {
    margin-top: 0.5em;
  }
  .contact_name {
    margin-top: 2em;
    input {
      margin-top: 1em;
    }
  }
  .contact_email {
    margin-top: 1em;
    input {
      margin-top: 1em;
    }
  }
  .contact_message {
    margin-top: 1em;
    textarea {
      margin-top: 1em;
    }
  }

  button {
    margin-top: 0.5em;
    padding: 0.25em;
    width: 100%;
    color: $primary-color;
    font-size: 1.2rem;
  }

  .other_contact {
    margin-top: 2em;
    a,
    p {
      color: #fff;
    }
    .other_contact_email {
      margin-top: 0.5em;
    }
  }

  // End of contact section
}
