@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #303a52;
  line-height: 1.6;
  margin: 1.5em;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  margin-top: 0;
  padding-top: 0;
  color: #fff;
}

span {
  color: $primary-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

input,
textarea {
  width: 100%;
  background: none;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  color: white;
}

::placeholder {
  color: #fff;
}

// Navbar
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .desktop_nav {
    display: none;
  }
}

// Hero

// Projects

// About

// Contact
section.contact {
  p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
  }
  .contact_paragraph {
    margin-top: 0.5em;
  }
  .contact_name {
    margin-top: 2em;
    input {
      margin-top: 1em;
    }
  }
  .contact_email {
    margin-top: 1em;
    input {
      margin-top: 1em;
    }
  }
  .contact_message {
    margin-top: 1em;
    textarea {
      margin-top: 1em;
    }
  }
  button {
    margin-top: 0.5em;
    padding: 0.25em;
    width: 100%;
    color: $primary-color;
    font-size: 1.1rem;
  }
}
// Footer
footer {
  margin-top: 1em;
  div.container {
    display: flex;
    justify-content: space-between;
  }
}
